<div class="main">
	<div class="container">
		<div class="row">
			<div class="span12">
				<meta name="google-signin-clientid" content="CLIENT_ID" />
				<meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login" />
				<meta name="google-signin-requestvisibleactions" content="http://schemas.google.com/AddActivity" />
				<meta name="google-signin-cookiepolicy" content="single_host_origin" />		
			</div> <!-- /span12 -->	
		</div> <!-- /row -->
		
		<div class="widget big-stats-container stacked">
			<div class="widget-content">
				This is how to play! Hi prof!<br/>
				Rock-paper-scissors-lizard-Spock is an expansion of the classic selection method game rock-paper-scissors.
				<ol>
					<li>Sign in with your Facebook / Twitter / Google account! If you don't, your bot won't be tagged to you!</li>
					<li>Select a bot to play against with.</li>
					<li>Next, time to code your ultimate bot!</li>
					<li>Select the language that you want to code in. Either Javascript, Python or Ruby.</li>
					<li>A sample code will be generated. Make modification to the code to make your bot the strongest bot!</li>
					<li>An argument, history, is provided for you. If the bot that you are challenging has been challenged before, the history of the bot is given to you.
						History is an array. For example, history = ['ROCK','ROCK','ROCK','ROCK','ROCK','ROCK','ROCK','ROCK','ROCK','ROCK']
						Thus, you can use history to your advantage!
					</li>
					<li>Do remember to return your move in this format either 'ROCK' or 'PAPER' or 'SCISSORS' or 'LIZARD' or 'SPOCK'!</li>
					<li>Press Play and see your bot in action! :)</li>
					<li>Remember to share this on Facebook / Twitter / Google!</li>
				</ol>
			</div>
		</div>
		
		<div class="row">
			<div class="span6">
				<div class="widget stacker">
					<div class="widget-header">
						<i class="icon-star"></i>
						<h3>The Ring</h3>
					</div> <!-- /widget-header -->
				
					<div class="widget-content">
					
						<form action="" id="validation-form" class="">
							<fieldset>
								<div class="control-group">
									<label class="control-label" for="validateSelect">Select Bot to play against!</label>
									<div class="controls">
										<select id="validateSelect" name="validateSelect">
											<option value="">Loading Bots...</option>
										</select>
									</div>
								</div>
								
								<div class="control-group">
									<label class="control-label" for="">Now code your own Bot!</label>
									<label class="control-label" for="">Bot Name</label>
									<div class="controls">
										<textarea class="span4" name="botname" id="botname" rows="1"></textarea>
									</div>
									<label class="control-label" for="">Language</label>
									<div class="controls">
										<select id="language" name="language">
											<option value="select">Select...</option>
											<option value="JAVASCRIPT">Javascript</option>
											<option value="PYTHON">Python</option>
											<option value="RUBY">Ruby</option>
											
										</select>
									</div>
									<label class="control-label" for="message">Your Code</label>
									<div class="controls">
										<textarea class="span4" name="code" id="code" rows="4"></textarea>
									</div>
								</div>
				          
								<div class="form-action">
									<!--<button type="submit" class="btn btn-danger btn" id="savebot">Save bot</button>&nbsp;&nbsp;-->
									
								</div>
							</fieldset>
						</form>
						<input id="saveBot" type="submit" value="Play" class="btn btn-danger btn">
					</div> <!-- /widget-content -->
				</div> <!-- /widget -->
			</div> <!-- /span6 -->
		
			<div class="span6">
				<div class="widget stacker">		
					<div class="widget-header">
						<i class="icon-list-alt"></i>
						<h3>Action</h3>
					</div> <!-- /widget-header -->
					<div class="widget-content">
						<div align="center" id="whoWin">
							<h4><label id="header">Select a bot to see its statistics</label></h4>
							<h4><label id="botStats" style="display:none">Bot Statistic</label></h4>
							<canvas id="canvas" height="300" width="400" style="display: none"></canvas>
							<br/>
							<h4><label id="rating"></label></h4>
						</div>
						<!--<img src = '../img/hands/spock.png' height='40' width='40'>-->
					</div> <!-- /widget-content -->
				</div> <!-- /widget -->
			</div> <!-- /span6 -->
      	</div> <!-- /row -->
    </div> <!-- /container -->
</div> <!-- /main -->



<script type="text/javascript">

var url = "https://smu-is429-group-project.appspot.com/_ah/api/rockpaperscissorslizardspock/v2/";

getBotList();

document.getElementById('saveBot').onclick = function() {
     play();
}
$('#validateSelect').change(function() {
	if($(this).val() === "select"){
		document.getElementById("header").style.display="block";
		document.getElementById("canvas").style.display="none";
		document.getElementById('rating').style.display="none";
		document.getElementById('botStats').style.display="none";
	} else {

		var requestData = {};
		requestData.botId = parseInt($(this).val());

		$.get(url + "getBotById", requestData, function(resp) {

			if(resp) {

				if(resp.success == true) {

					document.getElementById("botStats").style.display="block";
					document.getElementById("header").style.display="none";
					document.getElementById("rating").style.display="block";
					document.getElementById('rating').innerHTML = "Bot Rating: " + resp.bot.elo;

					var d = [resp.bot.winCount,resp.bot.drawCount,resp.bot.lossCount];

					if(resp.bot.winCount === 0 && resp.bot.lossCount === 0 && resp.bot.drawCount === 0) {
						document.getElementById("botStats").innerHTML = "Bot has not been challenged!";
					} else {

						var barChartData = {
          		labels : ["Win","Draw","Lose"],
          		datasets : [
          			{
          				fillColor : "rgba(220,220,220,0.5)",
                  strokeColor : "rgba(220,220,220,1)",
                  data : d
          			}
          		]
          	};

          	var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Bar(barChartData);
						document.getElementById("canvas").style.display="block";

					}

				}

			}

		});

		
	}
});

$('#language').change(function() {
	var jsCode = "function playGame(history) { \n  return 'YOUR MOVE'; \n}";
	var pythonCode = "def play_game(history):\n  return 'YOUR MOVE'";
	var rubyCode = "def play_game(history)\n  return 'YOUR MOVE'\nend";
	if($(this).val() === "JAVASCRIPT") {
		document.getElementById('code').value = jsCode;
	} else if ($(this).val() === "PYTHON") {
		document.getElementById('code').value = pythonCode;
	} else {
		document.getElementById('code').value = rubyCode;
	}
});

function play() {
	var botDDL = document.getElementById('validateSelect');
	var langDDL = document.getElementById('language');
	if(botDDL.options[botDDL.selectedIndex].value === "select") {
		alert('Please select a bot to play against with!');
	} else if (langDDL.options[langDDL.selectedIndex].value === "select") {
		alert('Please select a language!');
	} else if (document.getElementById('botname').value.length <= 0) {
		alert('Please give your bot a name!');
	} else if (document.getElementById('code').value.length <= 0) {
		alert('Please enter your codes!');
	} else {
		if(document.getElementById("canvas") != null) {
			document.getElementById("canvas").style.display="none";
		}
		if(document.getElementById("rating") != null) {
			document.getElementById('rating').style.display="none";
		}
		if(document.getElementById("botStats") != null) {
			document.getElementById('botStats').style.display="none";
		}
		if(document.getElementById("header") != null) {
			document.getElementById("header").style.display="none";
		}

		var _BotName = document.getElementById('botname').value;
		var _Code = document.getElementById('code').value.replace(/\n/gm, "\\n").replace(/\"/gm, "\\\"");
		var _AiBotId = document.getElementById('validateSelect').value;
		var _BotLanguage = document.getElementById('language').value;
		var _tempUserId = document.getElementById('userid');
		var result = "";

		var requestData = {};
		requestData.playerBotName = _BotName;
		requestData.playerBotCode = _Code;
		requestData.aiBotId = _AiBotId;
		requestData.language = _BotLanguage;
		if(_tempUserId.value.length > 0) {
			requestData.userId = _tempUserId.value;
		} else {
			requestData.userId = "null";
		}
		var rock = "<img src = '../img/hands/rock.png' height='70' width='70'>";
		var paper = "<img src = '../img/hands/paper.png' height='70' width='70'>";
		var scissors = "<img src = '../img/hands/scissors.png' height='70' width='70'>";
		var lizard = "<img src = '../img/hands/lizard.png' height='70' width='70'>";
		var spock = "<img src = '../img/hands/spock.png' height='70' width='70'>";
		var aiMovePic = "";
		var playerMovePic = "";
		var winner = "You lose.";
		var win = 0;
		var lose = 0;
		var draw = 0;
		
		$.post(url + "newGame",requestData, function(resp) {

			if(!resp.code) {
				if(resp.success === false) {
					alert('Your codes have error. Please try again!');
				} else {
					var gameID = resp.gameSession.id;
					
					if(parseInt(resp.gameSession.score) === 0){
						winner = "Draw Game.";
						draw++;
					}else if(parseInt(resp.gameSession.score) === 1){
						winner = "You win!";
						win++;
					}else{
						lose++;
					}
					
					if(resp.gameSession.playerMove == 'LIZARD'){
						playerMovePic = lizard;
					}else if(resp.gameSession.playerMove == 'ROCK'){
						playerMovePic = rock;
					}else if(resp.gameSession.playerMove == 'SCISSORS'){
						playerMovePic = scissors;
					}else if(resp.gameSession.playerMove == 'PAPER'){
						playerMovePic = paper;
					}else if(resp.gameSession.playerMove == 'SPOCK'){
						playerMovePic = spock;
					}
					
					if(resp.gameSession.aiMove == 'LIZARD'){
						aiMovePic = lizard;
					}else if(resp.gameSession.aiMove == 'ROCK'){
						aiMovePic = rock;
					}else if(resp.gameSession.aiMove == 'SCISSORS'){
						aiMovePic = scissors;
					}else if(resp.gameSession.aiMove == 'PAPER'){
						aiMovePic = paper;
					}else if(resp.gameSession.aiMove == 'SPOCK'){
						aiMovePic = spock;
					}
					
					result = result + "Round no: "+resp.gameSession.roundNo+ " <br> " +playerMovePic+ " vs "+aiMovePic +" <br> "+winner + "<br>";
					
					document.getElementById('whoWin').innerHTML = result;
					
					next(gameID, result, win, lose, draw);
					
				}
			}

		});
	}
}

function next(gameID, r, w,l,d) {

	var requestData = {};
	requestData.gameID = gameID;
	var winner = "You lose.";
	var result = r;
	var win = w;
	var lose = l;
	var draw = d;
	var rock = "<img src = '../img/hands/rock.png' height='70' width='70'/>";
	var paper = "<img src = '../img/hands/paper.png' height='70' width='70'/>";
	var scissors = "<img src = '../img/hands/scissors.png' height='70' width='70'/>";
	var lizard = "<img src = '../img/hands/lizard.png' height='70' width='70'/>";
	var spock = "<img src = '../img/hands/spock.png' height='70' width='70'/>";
	var aiMovePic = "";
	var playerMovePic = "";
	
	$.get(url + "getNextMove",requestData, function(resp) {

	

		if(!resp.code) {
			if(parseInt(resp.gameSession.score) === 0){
				winner = "Draw Game.";
				draw++;
			}else if(parseInt(resp.gameSession.score) === 1){
				winner = "You win!";
				win++;
			}else{
				lose++;
			}
			
			if(resp.gameSession.playerMove == 'LIZARD'){
				playerMovePic = lizard;
			}else if(resp.gameSession.playerMove == 'ROCK'){
				playerMovePic = rock;
			}else if(resp.gameSession.playerMove == 'SCISSORS'){
				playerMovePic = scissors;
			}else if(resp.gameSession.playerMove == 'PAPER'){
				playerMovePic = paper;
			}else if(resp.gameSession.playerMove == 'SPOCK'){
				playerMovePic = spock;
			}
			
			if(resp.gameSession.aiMove == 'LIZARD'){
				aiMovePic = lizard;
			}else if(resp.gameSession.aiMove == 'ROCK'){
				aiMovePic = rock;
			}else if(resp.gameSession.aiMove == 'SCISSORS'){
				aiMovePic = scissors;
			}else if(resp.gameSession.aiMove == 'PAPER'){
				aiMovePic = paper;
			}else if(resp.gameSession.aiMove == 'SPOCK'){
				aiMovePic = spock;
			}
			result = result + "Round no: "+resp.gameSession.roundNo+ " <br> " +playerMovePic+ " vs "+aiMovePic +" <br> "+winner + "<br>";
			
			document.getElementById('whoWin').innerHTML = result;
			
			
			// Use recursion instead of a loop to keep on calling next() until
			// the requirements have been reached then we stop the recursion
			if(resp.gameSession.roundNo != 10) {
				
				next(gameID, result,win,lose,draw);
				
			}
			
			
			
			if(resp.gameSession.roundNo == 10) {
	
				var requestData1 = {};
				requestData1.botId = resp.gameSession.playerBotId;

				$.get(url + "getBotById", requestData1, function(resp1) {

					if(resp1) {

						if(resp1.success == true) {

							result = result + "Your bot rating: " + resp1.bot.elo + "<br/>";

						}

						document.getElementById('whoWin').innerHTML = result;

					}

				});
			
				var requestData2 = {};
				requestData2.botId = resp.gameSession.aiBotId;

				$.get(url + "getBotById", requestData2, function(resp2) {

					if(resp2) {

						if(resp2.success == true) {

							result = result + resp2.bot.name + " rating: " + resp2.bot.elo + "<br/>";

						}

						document.getElementById('whoWin').innerHTML = result;

					}

				});
			}
		}

	});

}


function getBotList() {
	
	
	$.get(url + "getBotList", function(respp) {
		
		
		if (!respp.code) {
			respp.items = respp.items || [];
			
			var result = "<option value='select'>Bots loaded.</option>";
			for (var i=0;i<respp.items.length;i++) {
				
				result = result+"<option value='"+respp.items[i].id+"'>"+respp.items[i].name + "</option>";
			}
			document.getElementById('validateSelect').innerHTML = result;
		}
	});
}

(function() {
	var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	po.src = 'https://apis.google.com/js/plusone.js?onload=onLoadCallback';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();


</script>