<div class="main">
	<div class="container">
		<div class="row">
			<div class="span6">
				<div class="widget stacker">
					<div class="widget-header">
						<i class="icon-star"></i>
						<h3>Your Bots</h3>
					</div>
					
					<div class="widget-content">
						<label class="control-label" for="">Select your bot</label>
						<div class="controls">
							<select id="bot" name="bot">
								<option value="">Select...</option>						
							</select>
						</div>
					</div>
				</div>
			</div>
			
			<div class="span6">
				<div class="widget stacker">
					<div class="widget-header">
						<i class="icon-signal"></i>
						<h3>Statistic</h3>
					</div>
					
					<div class="widget-content">
						<div align="center">
							<canvas id="canvas" height="300" width="400"></canvas>
							<br/>
							<h4>Bot Rating : 1400</h4>
						</div>
					</div>
				</div>
			</div>			
		</div>
	</div>
</div>

<script>

		var barChartData = {
			labels : ["Win","Draw","Lose"],
			datasets : [
				{
					fillColor : "rgba(220,220,220,0.5)",
					strokeColor : "rgba(220,220,220,1)",
					data : [10,20,10]
				}
			]
		}

	var myLine = new Chart(document.getElementById("canvas").getContext("2d")).Bar(barChartData);
	</script>